<!DOCTYPE html>
<html>
<head>
	<title>CTalk-question</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

	<nav>
		<div class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="navbar-header" >
				<a href="/" class="home" id="nav">Home</a>
						</div>
						<div class="collapse navbar-collapse navbar-right">
								<ul class="nav navbar-nav">
									<li class="notsignedin"><a href="login" id="nav">Sign in</a></li>9
									<li class="signedin"><a href="/questions" id="nav">Questions List</a></li>
									<li class="signedin"><a href="/addQuestion" id="nav">New Question</a></li>
									<li class="signedin">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="name" id="nav"></span><b class="caret"></b></a>
										<ul class="dropdown-menu multi-level">
											<li><a class="profile" href="/profile">Profile/Settings</a></li>
											<li><a class="logout" href="/logout">Log Out</a></li>
										</ul>
										</li>
								</ul>
						</div>
		</div>
	</nav>
	<br><br><br><br>


	<div class="container question-list">
	</div>



	<script src="/js/jquery-2.1.4.js"></script>
	<script src="/js/bootstrap.min.js"></script>

<script >
$(document).ready(function(){
	var ID;
	$.ajax({
		url: '/getcookie',
		type: 'GET',
		dataType: 'json'
	})
	.done(function(c) {
		console.log(c);
		if(c.ID){
			ID=c.ID;
			$(".notsignedin").css('display','none');
			$(".signedin").css('display', 'initial');
			$(".name").html(c.name);
			$.ajax({
				url: '/api/questionsList',
				type: 'GET',
				dataType: 'json'
			})
			.done(function(data) {
        console.log(data);
        for (i in data){
  				$(".question-list").prepend('<div class="wrapper"><a class="colo" href="/question?qID='+data[i]._id+'"><h3>'+data[i].question+'</h3></a><div class="question-detail">'+data[i].question_detail
					+'</div><div class="question-tag">'+data[i].tag+'</div><br><textarea class="span6 in form-control" rows="4"/><br><div id='+data[i]._id+' class="btn btn-info submit postAnswer">Submit</div></div><br>');
        }
			});
		}
	});
	$(".question-list").on('click','.postAnswer',function(){
		var id=$(this).attr('id');
		console.log($(this));
		console.log($(this).prev());
		console.log($(this).prev().prev().val());
		var str='{"questionID":"'+id+'","answer":"'+$(this).prev().prev().val()+'","ID":"'+ID+'"}';
		console.log(str);

		$.ajax({
			url: '/api/postAnswer',
			type: 'POST',
			data: str,
			contentType: 'application/json'
		})
		.done(function(data) {
			console.log(data);
			window.location='/question?qID='+id;
		});
	});
	$(".logout").on('click', function() {
		$.ajax({
			url: '/logout',
			type: 'GET',
		})
		.done(function() {
			$(".notsignedin").css('display','initial');
			$(".signedin").css('display', 'none');
		})
	});
});
</script>
</body>
</html>
